@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Coiny');
body {
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    width: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cloud-text {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
    background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	font-size: 50px;
    -webkit-text-stroke:  0.5px black; /* Added line */
	animation: clouds-moving infinite 110s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
    margin: 0em;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}
#embedding-chart {
    width: auto;
    height: auto;
    margin-left: 3em;
    position: relative; 
} 

#tooltip {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    pointer-events: none;
    z-index: 10;
    max-width: 400px; /* Set a maximum width for the tooltip */
    word-wrap: break-word; /* Ensure long words break correctly */
    display: none;
}
  
.animate{
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f8;
    height: 100%;
    width: 300px;    
    padding: 0em 3em;
}
#control{
    font-weight: bold;
    font-size:1.5em;
    margin-top: 0.5em;
}
.options {
    display: flex;
    padding: 1em 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
    align-items: stretch;
}
button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #f3f4f8;
    --button_outline_color: #000000;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    padding: 0;
    margin: 0.5em;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    outline: none; /* Remove focus outline */
}

button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}
.slideContainer{
    width: 100%;
}
.slider{
    width: 100%;
}

